/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #deeef4;
}
.container {
    width: 80%;
    margin: auto;
   
}
header {
    background: #172a3a;
    color: #ffffff;
    padding: 30px;
    min-height: 70px;
    border-bottom: #07b5b5 3px solid;
  }
  header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
  }
  header a :hover {
    font-weight: bold;
    background-color: #508991;
  }
  header ul {
    margin: 0;
    padding: 0;
  }
  header li {
    float: left;
    display: flex;
    padding: 0 20px 0 20px;
  }
  header nav {
    float: right;
    margin-top: 10px;
  }
  header .top-content {
    float: left;
  }
  header .top-content h1 {
    margin: 0;
    font-size: 30px;
  }
  header .highlight,
  header .current a {
    color: #07b5b5;
    font-weight: bold;
  }
.top-about-content{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.top-about-content .text-container img:last-child{
    width: 80%;
}
.middle-content{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.last-content{
    display: flex;
    text-align: center;
    justify-content: center;
}
.top-about-content, .middle-content, .last-content .text-container {
    
    margin-top: 10%;
    padding: 0px 20px 0px 20px;
    justify-content: left; 
    text-align: left;
   
}
.top-about-content, .middle-content, .last-content .text-container h3{
    color: #004346;
}
.last-content{
    border-bottom: 2px dashed #07b5b5; 
}
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #508991;
    text-align: center;
  }



    